# =============== #
# Unity generated #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Dd]ata/
sysinfo.txt
*.stackdump
*.exe
 
# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
ExportedObj/
*.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.idea*/
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini